<% const views = '../' %>
<%- include(views+'partials/header'); %>

<div class="flex-cont">
  <div class="type-pills">
    <a href="#" class="badge badge-pill badge-dark type-pill selected" data-type="temperature">Temperature</a>
    <a href="#" class="badge badge-pill badge-light type-pill" data-type="humidity">Humidity</a>
    <a href="#" class="badge badge-pill badge-light type-pill" data-type="soilMoisture">Soil Moisture</a>
    <a href="#" class="badge badge-pill badge-light type-pill" data-type="light">Light Intensity</a>
  </div>

  <div class="flex-cont-vert">

    <h3 id="title" for="plant-select">Temperature vs. Time</h3>

    <select id="plant-select">
      <% plants.forEach((plant, index) => { %>
        <% if(index === 0){ %>
          <option value="<%= plant.id %>" selected><%= plant.Name %></option>
          <% } else { %>
            <option value="<%= plant.id %>"><%= plant.Name %></option>
            <% } %>
            <% }) %>
          </select>


          <div class="svg">
            <svg
            version="1.1"
            baseProfile="full"
            xmlns="http://www.w3.org/2000/svg" >
          </svg>
        </div>

        <div class="time-pills">
          <a href="#" class="badge badge-pill badge-dark time-pill selected" data-time="1">1h</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="2">2h</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="12">12h</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="24">1D</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="72">3D</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="168">1W</a>
          <a href="#" class="badge badge-pill badge-light time-pill" data-time="336">2W</a>
        </div>

  </div>

  <div class="empty">
    <!-- empty div for flexbox spacing purposes -->
  </div>
</div>



<%- include(views+'partials/footer'); %>
