<!DOCTYPE html>
<html>
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"/>
    <!-- FAVICON -->
    <link rel="icon" href="https://res.cloudinary.com/dkvqve4ln/image/upload/v1583073310/encouragemint/favicon.ico" type="iamge/x-icon">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">

    <!-- TITLE -->
    <title>encourageMint</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/dkvqve4ln/image/upload/c_scale,w_40/v1581349232/encouragemint/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#newPlantModal">New Plant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#updatePlantModal">Update Plant</a>
          </li>
        </ul>

        <ul class="navbar-nav mx-auto">
          <div class="plantSelect-registerButton">
            <div class="from-group">
              <select class="form-control" id="plant-select">
                <% if(plants){ %>
                  <% plants.forEach((plant, index) => { %>
                    <% if(index === 0){ %>
                      <option value="<%= plant.id %>" selected><%= plant.Name %></option>
                    <% } else { %>
                      <option value="<%= plant.id %>"><%= plant.Name %></option>
                    <% } %>
                  <% }) %>
                <% } %>
              </select>
            </div>
            <button type="button" id="registerPlant" class="btn btn-warning">Connect Plant</button>
          </div>
        </ul>

        <ul class="navbar-nav">
          <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/google">Sign in with Google</a>
            </li>
          <% } else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-uid="<%= currentUser._id %>">
                <%= currentUser.firstName + " " + currentUser.lastName %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/auth/logout">Sign Out</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <!-- Messages -->
    <div class="messages">
      <div class="container">
        <h2 class="pt-3">Messages</h2>
        <hr class="style-two">
      </div>
    </div>

    <!-- SVG -->
    <div class="SVG">
      <div class="container">
        <h2 class="pt-3">Dashboard</h2>
        <hr class="style-two">
      </div>
      <div class="flex-cont">
        <div class="type-pills">
          <a href="#" class="badge badge-pill badge-dark type-pill selected" data-type="temperature">Temperature</a>
          <a href="#" class="badge badge-pill badge-light type-pill" data-type="humidity">Humidity</a>
          <a href="#" class="badge badge-pill badge-light type-pill" data-type="soilMoisture">Soil Moisture</a>
          <a href="#" class="badge badge-pill badge-light type-pill" data-type="light">Light Intensity</a>
        </div>
        <div class="flex-cont-vert">
          <!-- <h3 id="title" for="plant-select">Temperature vs. Time</h3> -->
          <div class="svg">
            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"></svg>
          </div>
          <div class="time-pills">
            <a href="#" class="badge badge-pill badge-dark time-pill selected" data-time="1">1h</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="2">2h</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="12">12h</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="24">1D</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="72">3D</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="168">1W</a>
            <a href="#" class="badge badge-pill badge-light time-pill" data-time="336">2W</a>
          </div>
        </div>
        <div class="empty">
          <!-- empty div for flexbox spacing purposes -->
        </div>
      </div>
    </div>

    <!-- New Plant Modal -->
    <div class="modal fade" id="newPlantModal" tabindex="-1" role="dialog" aria-labelledby="newPlantModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPlantModalTitle">New Plant</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group row">
                <label for="newPlantName" class="col-form-label col-3">Name:</label>
                <input type="text" class="form-control col" id="newPlantName">
              </div>
              <div class="form-group row">
                <label for="newPlantType" class="col-form-label col-3">Type:</label>
                <select class="form-control col" name="plant-type" id="newPlantType">
                  <option value="Mint" slected>Mint</option>
                  <option value="Basil">Basil</option>
                </select>
              </div>
              <hr class="style-two">
              <div class="form-group row">
                <label class="col-form-label col-4">Soil Mositure:</label>
                <input type="number" class="form-control col-3" id="newSoilMoistureMin" placeholder="min">
                <input type="number" class="form-control col-3" id="newSoilMoistureMax" placeholder="max">
              </div>
              <div class="form-group row">
                <label class="col-form-label col-4">Light:</label>
                <input type="number" class="form-control col-3" id="newLightMin" placeholder="min">
                <input type="number" class="form-control col-3" id="newLightMax" placeholder="max">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="newPlantSubmit" data-dismiss="modal">Save New Plant</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Update Plant Modal -->
    <div class="modal fade" id="updatePlantModal" tabindex="-1" role="dialog" aria-labelledby="updatePlantModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updatePlantModalTitle">Update Plant</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="from-group row">
                <select class="form-control" id="update-plant-select">
                  <% plants.forEach((plant, index) => { %>
                    <% if(index === 0){ %>
                      <option value="<%= plant.id %>" selected><%= plant.Name %></option>
                    <% } else { %>
                      <option value="<%= plant.id %>"><%= plant.Name %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
              <hr class="style-two">
              <div class="form-group row">
                <label for="updatePlantName" class="col-form-label col-3">Name:</label>
                <input type="text" class="form-control col" id="updatePlantName">
              </div>
              <div class="form-group row">
                <label for="updatePlantType" class="col-form-label col-3">Type:</label>
                <select class="form-control col" name="plant-type" id="updatePlantType">
                  <option value="Mint">Mint</option>
                  <option value="Basil">Basil</option>
                </select>
              </div>
              <hr class="style-two">
              <div class="form-group row">
                <label class="col-form-label col-4">Soil Mositure:</label>
                <input type="number" class="form-control col-3" id="updateSoilMoistureMin" placeholder="min">
                <input type="number" class="form-control col-3" id="updateSoilMoistureMax" placeholder="max">
              </div>
              <div class="form-group row">
                <label class="col-form-label col-4">Light:</label>
                <input type="number" class="form-control col-3" id="updateLightMin" placeholder="min">
                <input type="number" class="form-control col-3" id="updateLightMax" placeholder="max">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="deletePlant" data-dismiss="modal">Delete Plant</button>
            <button type="button" class="btn btn-primary" id="updatePlantSubmit" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/modal.js"></script>
  </body>
</html>
